*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* Animation property */
button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

button {
  position: absolute;
  right: 15%;
  top: 7%;
  height: 4em;
  width: 7em;
  background: #212529;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

  .checkbox-wrapper-5 .check {
    --size: 40px;
    position: absolute;
    right: 15%;
    top: 1%;
    background: linear-gradient(90deg, #ffffff, #000000);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"],
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }

.dark-theme {
  color: #fff;
  background-color: #212529;
}

/* .round-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  right: 14%;
  top: 7%;
}

.round-button:hover {
  background-color: #0069d9;
}

.round-button:active {
  background-color: #005cbf;
} */

.info {
  display: flex;
  justify-content: space-around;
  max-height: 550px;
}

.info__text {
  text-align: center;
  text-transform: uppercase;
  
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  height: 50%;
  padding: 0;
  /* margin-left: 20px; */
}

.skill-list__item {
  margin-left: 20px;
}

.my-img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.my-img__img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.contacts {
  text-align: center;
  margin-top: 1rem;
}

.contacts__ul {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.head-2,
.head-1 {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.my-works {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-works p {
  text-align: center;
}

.my-works__examples {
  width: 99%;
  margin: 1px;
  max-width: 545px;
}

.my-works__frames {
  width: 100%;
  height: 500px;
}

.frames__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  font-family: sans-serif;
}

.my-works__frames__empty {
  font-size: 50px;
}

.about-me {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 20px;
}


@media screen and (max-width: 992px) {
  .my-img {
    display: none;
  }

  .checkbox-wrapper-5 .check {
    left: 0;
    top: 10%;
    right: inherit;
  }

  button {
    right: 0;
    top: 9%;
  }
  
}

@media screen and (max-width: 768px) {
  .my-img {
    display: none;
  }
    .info{
    max-height: none;
  }
  .skill-list {
    flex-wrap: nowrap;
    padding: auto;
    width: auto;
    padding: 15px;
  }
 
  .about-me {
    padding: 15px; 
  }
  
}